import %workspace%/tools/cc_toolchain/bazel.rc

# Default to an optimized build.
build -c opt

# Default build options.
build --force_pic
build --strip=never
build --strict_system_includes

# Default test options.
test --test_output=errors
test --test_summary=terse
